# Backend
POSTGRES_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
MONGODB_URI=
MONGODB_DATABASE=m2c
SESSION_SECRET=
SESSION_COOKIE_NAME=
ALLOWED_ORIGINS=
M2C_GIT_CLIENT_ID=
M2C_GIT_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# Frontend
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_YJS_URL=
NEXT_PUBLIC_PEER_URL=

#WebSocket
WS_PATH=/yjs